.aboutSection{
    padding-block: 60px;
    padding-inline: 60px;
    background-color: var(--bg);
    scroll-margin-top: 78px;
}
.aboutSection h1{
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    color: var(--accent);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    gap: 10px;
    margin-bottom: 20px;
}
.aboutSection h1 span{
    background-color: var(--accent);
    width: 24px;
    height: 2px;
}
.aboutSection p{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: var(--subheading);
    line-height: 1.7;
    margin-bottom: 10px;
}
.aboutSection .whether{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.whether h2, .whether h3{
    font-family: "Syne", sans-serif;
    font-size: 24px;
    color: var(--text);
}
.whether ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--body-text);
    gap: 5px;
}
.whether ul li{
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
}
.whether ul li span{
    width: 10px;
    height: 1px;
    background-color: #38b46b;
}

@media (max-width: 768px) {
    .aboutSection{
        padding-inline: 24px;
    }
    .whether h2, .whether h3{
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .aboutSection{
        padding-inline: 16px;
    }
}